
<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">

      <div class="bg-white p-3 my-4 rounded-4 shadow">
        <h1>Hosting an Accommodation for Guest</h1>

        <%= simple_form_for(@accommodation) do |f| %>
          <%= f.input :type_of_place %>
          <%= f.input :city %>
          <%= f.input :country, as: :string %>
          <%= f.input :max_guest_count %>
          <%= f.input :description %>
          <%= f.input :title %>
          <%= f.input :price %>
          <%= f.input :address %>
          <%= f.input :bed_count %>
          <%= f.input :bedroom_count %>
          <%= f.input :bathroom_count %>
          <%= f.input :amenities, as: :check_boxes, collection: Amenity.all, wrapper_html: { class: 'accommodation-form-checkboxes-wrapper'} %>
          <%= f.submit %>
        <% end %>
      </div>

    </div>
  </div>
</div>
